<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jonas Fährmann">
    <title>Redbull Demo</title>
    <link rel="stylesheet" href="/css/nanogallery2.min.css" />
    <link href="/main.css" rel="stylesheet">
</head>
<body>
    <a href="/">All</a>
    <a href="/top10">Top 10</a>
    <div id="nanogallery" data-nanogallery2='{ 
        "thumbnailBorderHorizontal" : 0,
        "thumbnailBorderVertical": 0,
        "thumbnailHoverEffect2": "scale120",
        "thumbnailLabel": { "valign": "bottom", "position": "overImage", "displayDescription": true, "hideIcons": true },
        "allowHTMLinData": true,
        "viewerGallery": "none",
        "viewerTools" : { "topRight": "", "topLeft": ""},
        "thumbnailToolbarImage": { "topLeft": "custom1" },
        "fnThumbnailInit" : "myTnInit",
        "fnThumbnailToolCustAction" : "myTnTool",
        "icons": { "thumbnailCustomTool1": "<i></i>" }
    }'>
    <% media.forEach(function(entity, index){ %>
        <a href="<%= entity.contentUrl %>" data-ngthumb="<%= entity.previewUrl %>" data-ngdesc="<%= entity.id %>|<%= entity.rating %>"><%= entity.title %></a>
    <%  }) %>
    </div>
</div>
</body>
<footer>
    <script src="/jquery.min.js"></script>
    <script src="/jquery.nanogallery2_mod.js"></script>
    <script src="/main.js"></script>
</footer>
</html>